.centerfont{
    text-align: center;
    font-weight: bold;
    color: white;
}

.BgHead{
    background-color: #3F4254;
}

.BgRow{
    background-color: rgba(125, 133, 151, 0.74);
}

.fontColor{
    color: white;
}