<kt-portlet>
    <kt-portlet-body>
        <h3 class='cool'> รายงานการถอน </h3>
      <!-- table1 -->
      <div class="table-responsive">
        <table style="width: 100%; text-align: center;"mat-table [dataSource]="bankowner" class="mat-elevation-z8">
          <!-- bank Column -->
          <ng-container matColumnDef="BANK_TITLE">
            <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> ธนาคาร </th>
            <td mat-cell *matCellDef ="let transaction" class="backgroundrow"> {{transaction.BANK_TITLE}} </td>
            <!-- <td mat-footer-cell *matFooterCellDef></td> -->
          </ng-container>
          <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
            <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> เลขบัญชี </th>
            <td mat-cell *matCellDef ="let transaction" class="backgroundrow"> {{transaction.BANK_ACCOUNT_NUMBER}} </td>
            <!-- <td mat-footer-cell *matFooterCellDef></td> -->
          </ng-container>
          <!-- bankAccount Column -->
          <!-- <ng-container matColumnDef="bankAccount"> -->
            <!-- <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> ธนาคารบัญชีที่	</th> -->
            <!-- <td mat-cell *matCellDef ="let transaction" class="backgroundrow"> {{transaction.bankAccount}} </td> -->
            <!-- <td mat-footer-cell *matFooterCellDef></td> -->
          <!-- </ng-container> -->
          <!-- Item Column -->
          <ng-container matColumnDef="COUNT_TW">
            <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> จำนวนรายการ </th>
            <td mat-cell *matCellDef="let transaction" class="backgroundrow"> {{transaction.COUNT_TW}} </td>
            <!-- <td mat-footer-cell *matFooterCellDef style="color: white;"> Total </td> -->
          </ng-container>
        
          <!-- sum Column -->
          <ng-container matColumnDef="TOTAL_BALANCE">
            <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> ยอดเงินรวม </th>
            <td mat-cell *matCellDef="let transaction" class="backgroundrow"> {{transaction.TOTAL_BALANCE}} </td>
            <!-- <td mat-footer-cell *matFooterCellDef style="color: white;"> {{getTotalCost()}} </td> -->
          </ng-container>
  
          <!-- sumReal Column -->
          <!-- <ng-container matColumnDef="sumReal">
            <th mat-header-cell *matHeaderCellDef class="centerfonttrxwithdraw"> ยอดรวมเงินตัดจริง </th>
            <td mat-cell *matCellDef="let transaction" class="backgroundrow"> {{transaction.sumReal}} </td> -->
            <!-- <td mat-footer-cell *matFooterCellDef style="color: white;"> {{getTotalCostsumReal()}} </td> -->
          <!-- </ng-container> -->
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns" class="backgroundrow"></tr> -->
        </table>
      </div>
      
      <br>
      <!-- end of table 1 -->
      </kt-portlet-body>
      <kt-portlet-body>
      <div class="row mb-5">
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>CrateDate</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>EndDate</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>Agent Type</mat-label>
              <mat-select [(value)]="agentType">
                <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let website of websiteAll" value="{{website.ID}}">{{website.WEBSITENAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <mat-form-field appearance="fill" >
            <mat-label>Username</mat-label>
            <mat-icon matPrefix>account_circle</mat-icon>
            <input matInput type="text" class="example-right-align" [(ngModel)]="username">
            </mat-form-field>
        </div>
  
        <div class="col-12">
          <button mat-flat-button color="primary" (click)= "onSearch()">Serach</button>
        </div>
      </div>
     <br>
        <!-- Table 2 -->
        <div class="table-responsive">
          <table style="width: 100%; text-align: center;" mat-table [dataSource]="Trxwithdraw" class="mat-elevation-z8">
            <!-- No. Column -->
            <ng-container matColumnDef="TRANSACTION_WITHDAW_ID">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> # </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.TRANSACTION_WITHDAW_ID}} </td>
            </ng-container>
            <!-- BankTablesecond. Column -->
            <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ธนาคาร </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.BANK_ACCOUNT_NUMBER}} </td>
            </ng-container>
            <!-- AccountItem. Column -->
            <!-- <ng-container matColumnDef="MEMBER_USERNAME">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> บัญชีชุดที่ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.MEMBER_USERNAME}} </td>
            </ng-container> -->
            <!-- User. Column -->
            <ng-container matColumnDef="MEMBER_USERNAME">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ยูสเซอร์ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.MEMBER_USERNAME}} </td>
            </ng-container>
            <!-- CreditBefore. Column -->
            <!-- <ng-container matColumnDef="CreditBefore">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> เครดิตก่อนถอน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="background-color: red; font-size: 1rem;" > {{trxwithdrawElement.CreditBefore}} </td>
            </ng-container> -->
            <!-- Amount. Column -->
           
    
            <ng-container matColumnDef="MoneyAccountD">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> B-F </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow" style="font-size: 1rem; background-color: green;"><strong>{{bankBalance(trxwithdrawElement.BALANCE , trxwithdrawElement.BANK_BALANCE)}}</strong></td>
            </ng-container>
    
    
            <ng-container matColumnDef="BALANCE">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนเงิน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem; background-color: #fcbe03;"> <strong>{{trxwithdrawElement.BALANCE}}</strong> </td>
            </ng-container>
    
            
            <ng-container matColumnDef="MoneyAccountTest">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> B-A </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow" style="font-size: 1rem; background-color: red;"><strong>{{BABankbalance(trxwithdrawElement.BANK_BALANCE)}}</strong>
              </td>
            </ng-container>
            <!-- CreditAfter. Column -->
            <!-- <ng-container matColumnDef="CreditAfter">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> เครดิตหลังถอน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement"style="background-color: green; font-size:1rem;"> {{trxwithdrawElement.CreditAfter}} </td>
            </ng-container> -->
            <!-- DateWithdraw. Column -->
            <ng-container matColumnDef="CREATEDATE">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> วันที่ถอน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
            </ng-container>
            <!-- Update. Column -->
            <!-- <ng-container matColumnDef="Update">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> อัพเดท </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.Update}} </td>
            </ng-container> -->
            <!-- Status. Column -->
            <ng-container matColumnDef="TRANSACTION_STATUS">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> สถานะ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow">
                <div *ngIf="trxwithdrawElement.TRANSACTION_STATUS =='success' else Statuslog">
                  <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> {{trxwithdrawElement.TRANSACTION_STATUS}} </span>
                </div>
                <ng-template #Statuslog>
                  <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> {{trxwithdrawElement.TRANSACTION_STATUS}} </span>
                </ng-template>
              </td>
            </ng-container>
            <!-- UFA STATUS -->
            <ng-container matColumnDef="UFABET_STATUS">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> สถานะยูฟ่า </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow">
                <div *ngIf="trxwithdrawElement.UFABET_STATUS =='success' else Statuslog">
                  <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> success </span>
                </div>
                <ng-template #Statuslog>
                  <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> error </span>
                </ng-template>
              </td>
            </ng-container>
            <!-- Bot. Column -->
            <ng-container matColumnDef="TRANSACTION_GEAR">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> บอท </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow">
                <div *ngIf="trxwithdrawElement.TRANSACTION_GEAR =='auto' else Botlog">
                  <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> auto </span>
                </div>
                <ng-template #Botlog>
                  <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> manaul </span>
                </ng-template>
              </td>
            </ng-container>
            <!-- ActionBy. Column -->
            <ng-container matColumnDef="ACTION_BY">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ทำโดย </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.ACTION_BY}} </td>
            </ng-container>
            <!-- Notes. Column -->
            <ng-container matColumnDef="SLIP">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> หมายเหตุ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement; let i =index; " class="backgroundrow"> <button class="btn btn-primary" style="padding: 2px; width: 28px; height: 28px;" (click)="aleartNote(trxwithdrawElement.SLIP)"><span class="fa fa-search" ></span></button></td>
            </ng-container>
            <!-- MoneyAccountD. Column -->
           
         
            <!-- Approve. Column -->
            <!-- <ng-container matColumnDef="Approve">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> รีเซ็ต </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-success" style="padding: 1px; width: 28px; height: 28px;" ><span class="far fa-edit"></span></button> </td>
            </ng-container> -->
            <!-- Reset. Column -->
            <ng-container matColumnDef="Reset">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> รีเซ็ต </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-warning " style="padding: 1px; width: 28px; height: 28px;" (click)="onReset(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="trxwithdrawElement.TRANSACTION_STATUS == 'success'|| trxwithdrawElement.TRANSACTION_STATUS == 'pending' || trxwithdrawElement.ACTION_STATUS == 1"><span class="fa fa-redo-alt"></span></button>  </td>
            </ng-container>
            <!-- WithdrawHand. Column -->
            <ng-container matColumnDef="WithdrawHand">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ถอนมือ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-secondary" style="padding: 1px; width: 28px; height: 28px;" (click)="onHand(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="trxwithdrawElement.TRANSACTION_STATUS == 'success'|| trxwithdrawElement.TRANSACTION_STATUS == 'pending' || trxwithdrawElement.ACTION_STATUS == 1"><span class="fa fa-hand-paper"></span></button>  </td>
            </ng-container>
            <!-- Cancel. Column -->
            <!-- <ng-container matColumnDef="Cancel">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ยกเลิก </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-danger" style="padding: 1px; width: 28px; height: 28px;" (click)="openDialog()"><span class="fa fa-ban"></span></button>  </td>
            </ng-container> -->
            <!-- Reject. Column -->
            <ng-container matColumnDef="Reject">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ปฏิเสธ </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-danger" style="padding: 1px; width: 28px; height: 28px;"  (click)="onReject(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="trxwithdrawElement.TRANSACTION_STATUS == 'success'|| trxwithdrawElement.TRANSACTION_STATUS == 'pending' || trxwithdrawElement.ACTION_STATUS == 1"><span class="fa fa-times-circle"></span></button>  </td>
            </ng-container>
            
            <!-- Slip. Column -->
            <!-- <ng-container matColumnDef="Slip">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> สลิป </th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> <button class="btn btn-primary " style="padding: 1px; width: 28px; height: 28px;" (click)="openDialog()"><span class="fa fa-search"></span></button>  </td>
            </ng-container> -->
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsFirstTable"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFirstTable;"></tr>
          </table>
        </div>
      
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
      </mat-paginator>
      </kt-portlet-body>

    </kt-portlet>

    