<kt-portlet>
<kt-portlet-body>
  <!-- date picker -->
      <div class="row">
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>CrateDate</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
    
        &nbsp;&nbsp;
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>EndDate</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <!-- <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Agent Type</mat-label>
              <mat-select [(value)]="agentType">
                <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let website of websiteAll" value="{{website.ID}}">{{website.WEBSITENAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="col-auto">
          <button mat-flat-button color="primary" (click)="onSearch()">Serach</button>
        </div>
      </div>
  <!--  -->
    <h3 class='cool'> รายการสรุปฝาก-ถอน </h3>
    <br>
<!-- <table style='width: 100%; text-align: center;' mat-table [dataSource]="trxsumupper" class="mat-elevation-z8"> -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="SUM_TRANSACTION_DEPOSIT">
      <th mat-header-cell *matHeaderCellDef class="centerFont"> ฝาก </th>
      <td mat-cell *matCellDef="let trxSummary" class="fontColor"> {{trxSummary.SUM_TRANSACTION_DEPOSIT}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="SUM_TRANSACTION_WITHDAW">
      <th mat-header-cell *matHeaderCellDef class="centerFont"> ถอน </th>
      <td mat-cell *matCellDef="let trxSummary" class="fontColor"> {{trxSummary.SUM_TRANSACTION_WITHDAW}} </td>
    </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="NET_PROFIT">
      <th mat-header-cell *matHeaderCellDef class="centerFont"> กำไรสุทธิ </th>
      <td mat-cell *matCellDef="let trxSummary" class="fontColor"> {{trxSummary.NET_PROFIT}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTablesecond" class="bghead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTablesecond;" class="bgrow"></tr>
  </table> -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-xxl-4 ">
          <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: #f3d112;">
            <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.trx.SUM_TRANSACTION_DEPOSIT }}</mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" ><strong>ฝาก</strong></a></mat-card-subtitle>
          </mat-card>
        </div>
        <div class="col-lg-4 col-xxl-4 ">
          <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: #f3d112;" >
            <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.trx.SUM_TRANSACTION_WITHDAW }}</mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" ><strong>ถอน</strong></a></mat-card-subtitle>
          </mat-card>
        </div>
        <div class="col-lg-4 col-xxl-4">
          <div *ngIf=" trx.trx.SUM_TRANSACTION_WITHDAW >= trx.trx.SUM_TRANSACTION_DEPOSIT else Lossbalance">
          <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: red;">
            <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.trx.NET_PROFIT }}</mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size:15px; "><a class="fontcolortrxlm"><strong>ขาดทุน</strong></a></mat-card-subtitle>
          </mat-card>
        </div>
        <ng-template #Lossbalance>
            <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: green;">
              <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.trx.NET_PROFIT }}</mat-card-title>
                <mat-card-subtitle style="text-align: center; font-size:15px; "><a class="fontcolortrxlm"><strong>กำไร</strong></a></mat-card-subtitle>
            </mat-card>
        </ng-template>
        </div>
      </div>
    </div>
<br>
    <h3 class='cool'> รายการสรุปเพิ่มเครดิต-ตัดเครดิต </h3>
    <br>
  <!-- table2 -->
  <!-- <table style='width: 100%; text-align: center;' mat-table [dataSource]="trxsumbottom" class="mat-elevation-z8"> -->
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="DEPOSIT">
      <th mat-header-cell *matHeaderCellDef class="centerFont"> เพิ่มเครดิค </th>
      <td mat-cell *matCellDef="let trxSummarysecond" class="fontColor"> {{trxSummarysecond.DEPOSIT}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="WITHDRAW">
      <th mat-header-cell *matHeaderCellDef class="centerFont"> ตัดเครดิต </th>
      <td mat-cell *matCellDef="let trxSummarysecond" class="fontColor"> {{trxSummarysecond.WITHDRAW}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTableffirst" class="bghead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTableffirst;" class="bgrow"></tr>
  </table> -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xxl-6 ">
          <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: green;">
            <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.credit.DEPOSIT }}</mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" ><strong>เพิ่มเครดิค</strong></a></mat-card-subtitle>
          </mat-card>
        </div>
        <div class="col-lg-6 col-xxl-6 ">
          <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: red;" >
            <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{trx.credit.WITHDRAW }}</mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" ><strong>ลดเครดิต</strong></a></mat-card-subtitle>
          </mat-card>
        </div>
      
      </div>
    </div>
  
 
   
   
 
  <!-- end og table 2 -->
  </kt-portlet-body>
</kt-portlet>