<kt-portlet>
    <kt-portlet-body>
            <div class="row" style="background-color: whitesmoke;" >
                <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-12 main">
                        <header style="color: white;">ธนาคาร</header>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: center; margin-bottom: 10px;">
                    <table style='width: 100%; text-align: center;' mat-table [dataSource]="bankonwer" class="mat-elevation-z8">
                      <!-- No. Column -->
                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef class="fontcenter"> No. </th>
                        <td mat-cell *matCellDef="let HomeData; let i = index;"> {{i+1}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- BankAccount Column -->
                      <ng-container matColumnDef="BANK_TITLE">
                        <th mat-header-cell *matHeaderCellDef class="fontcenter"> BankAccount </th>
                        <td mat-cell *matCellDef="let HomeData"> 
                            <img src="assets/media/img/{{HomeData.BANK_TITLE}}.png" width="35px">
                        <!-- <div *ngIf="HomeData.Bank =='Scb' else kbank">
                            <img src="assets/media/img/scb.png" width="35px">
                        </div>
                        <ng-template #kbank>
                            <img src="assets/media/img/kbank.png" width="35px">
                        </ng-template>  -->
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                        <!-- Bank Column -->
                        <!-- <ng-container matColumnDef="BANK_TITLE">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> Bank </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.BANK_TITLE}} </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container> -->
                      
                        <!-- Account Column -->
                        <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> Account </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.BANK_ACCOUNT_NUMBER}} </td>
                          <td mat-footer-cell *matFooterCellDef style="color: black;"> Total </td>
                        </ng-container> 
                      
                        <!-- Amount Column -->
                        <ng-container matColumnDef="SUM_TODAY">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> Amount </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.SUM_TODAY | number}} </td>
                          <td type="number" mat-footer-cell *matFooterCellDef style="color: black;"> {{getTotalAmount() |number }} </td>
                        </ng-container>
                      
                        <!-- Date Column -->
                        <ng-container matColumnDef="CREATEDATE">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> DateTime </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.CREATEDATE}} </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displaybankowner"></tr>
                        <tr mat-row *matRowDef="let row; columns: displaybankowner;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displaybankowner" class="backgroundrow"></tr>
                      </table>
                        </div>
                        
                <!-- home row 2 -->
                <!-- <div class="row">
                    <div class="col-12 main">
                        <header style="color: white;">รายการเติมค้าง</header>
                    </div>
                </div>
                    <div class="row" style="padding:20px">
                        <section>
                            <button class="btn btn-primary btn-block"><i class="fa fa-clock"></i> เติมทุกรายการ</button>
                        </section>
                    </div> -->
                    <!-- home row3 -->
                    <div class="row">
                        <div class="col-12 main">
                            <header style="color: white;">รายการใหม่</header>
                        </div>
                    </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-12">
                    <div *ngFor="let DataHidden of trxhidden">
                    <div *ngIf="DataHidden.BANK_TITLE =='SCB' else kbank">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                              <table class="table table-striped">
                                    <tbody>
                                      <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: rgb(73, 41, 126);">
                                        <td style="width: 55px;">
                                            <img src="assets/media/img/SCB.png" width="35px">
                                        </td>
                                        <td>{{DataHidden.BANK_TITLE}}
                                            <br>
                                            <!-- <small style="display:block"><span class="material-icons" >
                                              access_time
                                              </span>
                                              {{DataHome.timeReceived}}
                                            </small> -->
                                            <br>
                                            <br>
                                            <!-- <b style="color: red;">{{DataHidden.status}}</b> -->
                                        </td>
                                        <td>
                                            <small>ช่องทาง</small>
                                            <br> SMS
                                        </td>
                                        <td >
                                            <small>เวลา</small>
                                            <br> {{DataHidden.CREATDATE}}
                                        </td>
                                        <td>
                                            <small>จำนวนเงิน</small>
                                            <br>
                                            <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-default btn-block" (click)="openDialog(DataHidden)"><i class="fa fa-check" ></i> เติม</button>
                                            <div style="padding: 2px;"></div>
                                            <button class="btn btn-primary btn-block" (click)="openDialogHidden(DataHidden)"><i class="fa fa-times"></i> ซ่อน</button>
                                        </td>
                  
                                      </tr>
                                    </tbody>
                                </table>
                        </div> 
                     </div>
                    </div> 
                    <ng-template #kbank>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                                  <table class="table table-striped">
                                        <tbody>
                                          <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: #00a950;">
                                            <td style="width: 55px;">
                                                <img src="assets/media/img/KBANK.png" width="35px">
                                            </td>
                                            <td>{{DataHidden.BANK_TITLE}}
                                                <br>
                                                <!-- <small style="display:block"><span class="material-icons" >
                                                  access_time
                                                  </span>
                                                  {{DataHome.timeReceived}}
                                                </small>
                                                <br> -->
                                                <br>
                                                <!-- <b style="color: red;">{{DataHome.status}}</b> -->
                                            </td>
                                            <td>
                                                <small>ช่องทาง</small>
                                                <br> SMS
                                            </td>
                                            <td >
                                                <small>เวลา</small>
                                                <br> {{DataHidden.CREATDATE}}
                                            </td>
                                            <td>
                                                <small>จำนวนเงิน</small>
                                                <br>
                                                <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-default btn-block" (click)="openDialog(DataHidden)"><i class="fa fa-check" ></i> เติม</button>
                                                <div style="padding: 2px;"></div>
                                                <button class="btn btn-primary btn-block" (click)="openDialogHidden(DataHidden)"><i class="fa fa-times"></i> ซ่อน</button>
                                            </td>
                      
                                          </tr>
                                        </tbody>
                                    </table>
                            </div> 
                         </div>
                        </ng-template>
                        
                        </div>
                    </div>
                </div>

                <!-- table right -->
                </div>
                <div class="col-md-5 col-12" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-12 main">
                    <header style="color: white;">รายการล่าสุด</header>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div *ngFor="let home of trxright">
                        <div class="row">
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center">
                                <!-- <div *ngIf="home.BAMK_TITLE =='SCB' else KBANK">
                                    <img src="assets/media/img/SCB.png" width="100%">
                                </div>
                                <ng-template #KBANK>
                                    <img src="assets/media/img/KBANK.png" width="100%">
                                </ng-template> -->
                                <img class="img-fluid" src="assets/media/img/{{home.BANK_TITLE}}.png">
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <span class="pull-left" style="font-weight: bold; font-size: 18px">SMS</span>
                                    </div>
                                    <!-- <div class="col-md-6 col-sm-6 col-lg-6">
                                        <span class="pull-right"> {{home.CREATEDATE}} </span>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                          <br>
                                            
                                          <span class="label label-inline" style="background-color: grey; color: white;">{{home.MEMBER_USERNAME}}  </span>
                                            <div style="display:inline-block" *ngIf="home.TRANSACTION_GEAR =='auto' else Actiontype">
                                                <span class="label label-inline" style="background: rgb(26, 179, 148); color: white;">
                                                    auto  </span>
                                            </div>
                                           <ng-template #Actiontype>
                                                <span class="label label-inline" style="background: rgb(237, 85, 101); color: white;">
                                                    manual by {{home.ACTION_BY}}</span>
                                           </ng-template>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <p>
                                            ฝาก : <strong>{{home.BALANCE}} บาท </strong>
                                            <br>
                                            <!-- เครดิตหลังเติม : <strong>{{home.HomeCreditAfter}} </strong>   
                                            <br> -->
                                            เวลาเติมสำเร็จ : <strong>{{home.CREATEDATE}} </strong>
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <b></b>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                </div>
    </kt-portlet-body>
    </kt-portlet>
