.centerfont{
    text-align: center;
    font-weight: bold;
    color: white;
}
.dialogtrxlist-center{
    text-align: center;
}

.Maininfo{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.39rem;
}

.headinfo{
    border-bottom: 1px solid #e5e5e5;
}

.bgHead{
    background-color: #3F4254;
}

.bgRow{
    background-color: rgba(125, 133, 151, 0.74);
}

.FontColor{
    color: white;
}